@media(max-width: 425px){
   

    .col-con-main-content-col{
        grid-template-columns: 1fr 1fr !important;
        width: 98%;
    }
}

@media(max-width: 375){
    .col-con-main-content-col{
        width: 95% !important;
    }
}