@media(max-width: 1024px){
    .txt{
        left: 2%;
    }
}

@media(max-width: 425px){
    .sidebar-menu-btn{
        left: 65rem;
    }

    /* .txt{
        top: 15%;
    } */

    body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 0;
    text-align: center;
    }

    .txt p{
        width: 90%;
    }

    .txt{
        position: unset;
        align-items: center;
        margin: 0 auto;
    }

    .chg-bg,
    .alg-cnt{
        text-align: center;
    }

    .txt h2 strong, .txt h2 span{
        font-size: 4.4rem;
    }

    .txt{
        width: fit-content;
        margin-top: 20rem;
    }
    body{
        background-image: linear-gradient(to top, #ffa6006f, #00000060), url(../img/me.jpg);
    }

}

@media(max-width: 375px){
   
   

    .sidebar-menu-btn {
        left: 89%;
        width: fit-content;
    }

    .txt{
        width: fit-content;
        margin-top: 20rem;
    }
}

@media(max-width: 320px){
    .txt h2 strong, .txt h2 span {
        font-size: 3.4rem;
    }
}